<div ng-init="init();" id="mapBox">
  <!--<div class="dzdtControlToolBar">
    <div class="BMap_stdMpZoom" style="height: 56px; width: 65px;">
      <div title="放大一级" class="BMap_button_new BMap_stdMpZoomIn" ng-click="activetool('zoomin')">
        <div class="BMap_smcbg in"></div>
      </div>
      <div title="缩小一级" class="BMap_button_new BMap_stdMpZoomOut" style="top: 27px;"
           ng-click="activetool('zoomout')">
        <div class="BMap_smcbg out"></div>
      </div>
    </div>
  </div>-->
  <div id="map"></div>
</div>