.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ngdialog-content {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
}
